body{
     background-color: #000000!important;
     font-family: 'Roboto', sans-serif;
}


#carrousel img{
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 100%;
     position: relative;
}

.line_sub{
  color: white;  
}


.navbar{
     background-color:transparent;
     color: white;
     position:fixed;
     width: 100vw;
     z-index: 1;    
}


.fondocolor{
     background-color: #027777;
}


.btn {
width: 90px!important;

}

